.blog-greeting {
	font-size: 34px;
	font-weight: 300;
	margin: 90px auto 90px auto;
	line-height: 1.35;
	text-align: center;
}

// Blog article styles

.blog-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	max-width: 1200px;
}

.blog-article-content {
	width: 48%;
	margin-bottom: 4%;

	a.blog-article-thumb {
		display: block;
		display: block;
		margin: 0;
		padding: 0;
		line-height: 0;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.blog-article-content:nth-child(even) {
	margin-left: 2%;
}

.blog-article-content:nth-child(odd) {
	margin-right: 2%;
}

.blog-article-excerpt {
	margin: -1px 0 0 0;
	padding: 40px 40px 60px 40px;
	background: $dark-gray;

	h2 {
		margin: 9px 0 10px 0;
	}

	h2 a {
		color: $white;
		font-family: "Rubik", sans-serif;
		font-weight: 300;
		margin-bottom: 40px;
		font-size: 1.3em;
		line-height: 1.3;
	}

	h2 a:hover {
		color: $link-color;
	}

	p {
		margin-bottom: 30px;
		font-size: 1.3em;
		line-height: 1.4;
	}
}

// Responsive blog article styles

@media (max-width: 800px) {
	.blog-container {
		display: block;
		width: 100%;
	}

	.blog-article-content {
		width: 100%;
		margin-bottom: 10%;
	}

	.blog-article-content:nth-child(even) {
		margin-left: 0;
	}

	.blog-article-content:nth-child(odd) {
		margin-right: 0;
	}

	.blog-article-excerpt {
		padding: 40px 40px 50px 40px;
	}
}

// Archive styles

.archive .post-wrap {
	border-bottom: 1px solid $dark-gray;
}

.archive .post-wrap:nth-of-type(8) {
	border-bottom: 1px solid #fff;
}

.archive .navigation {
	margin: 90px 0;
}

.archive h3.section-title,
.archive .article-container {
	display: none;
}

.singular h3.section {
	display: block;
}

// Pagination styles

.blog-pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 40px 0 110px 0;
	padding: 0;
	height: 100%;
	position: relative;
}

.navigation {
	margin: 0;
	padding: 0;
	height: 100%;
	position: absolute;
	right: 0;
}

.navigation h2 {
	display: none;
}

.navigation .nav-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	display: inline-block;
	font-family: "Rubik", sans-serif;
	font-weight: 500;
  	font-size: 14px;
  	text-transform: uppercase;
  	letter-spacing: 0.05em;
}

.navigation .nav-links span {
	margin-right: 12px;
	padding: 12px 20px 10px 20px;
	border: 2px solid $link-color;
	color: $text;
}

.navigation .nav-links a {
	margin-right: 12px;
	padding: 12px 20px 10px 20px;
	border: 2px solid $dark-gray;
	color: $text;

	&:hover {
		color: $text;
		border: 2px solid $hover-color;
	}
}

.blog-archive {
	text-align: right;

	a {
		padding: 12px 20px 10px 20px;
		border: 2px solid $dark-gray;
		color: $text;
		font-weight: 500;
  		font-size: 14px;
  		text-transform: uppercase;
  		letter-spacing: 0.05em;

  		&:hover {
			color: $text;
			border: 2px solid $hover-color;
		}
	}
}

@media (max-width: 494px) {
	.blog-archive {
		margin: 50px 0 0 0;
		display: block;
	}
}