/*

.header-wrapper {
  position: fixed;
  top: 0;
  margin-bottom: 50px;
  padding: 35px 40px 5px 40px;
  text-align: center;
  background-color: $bg;
  right: 0.1%;
  left: 0.1%;
  z-index: 999999;
}

.spacer {
  height: 40px;
}

*/

header {
	display: flex;
	justify-content: space-between;
	
	.logo {
		width: 90px;
		height: 80px;
	}

	.menu-toggle {
		margin: 15px 0 0 0;
		font-size: 2em;
    color: #fff;

    &:hover {
      color: $hover-color;
    }
	}
}

ul.navigation-menu {
  margin: 9px 0 0 0;
  padding: 0;
  display: inline;
  list-style-type: none;
  height: 100%;
  width: 80%;
  text-align: right;

  li {
    margin: 0 0 0 24px;
    padding: 0;
    display: inline;

    a {
      margin: 0;
      padding-bottom: 3px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.85em;
      letter-spacing: 0.065em;
      color: $text;
    }
  }
}

.page-template-template-about ul.navigation-menu a.menu-about,
.page-template-template-work ul.navigation-menu a.menu-work,
.blog ul.navigation-menu a.menu-blog,
.page-template-template-contact ul.navigation-menu a.menu-contact,
.page-template-template-foursquare a.menu-work,
.page-template-template-netpure a.menu-work,
.page-template-template-jtc a.menu-work,
.page-template-template-fpcu a.menu-work,
.single-post a.menu-blog {
  color: $link-color;
}

.main-nav .logo {
	margin: 0 auto 50px auto;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0 0 25px 0;
  text-align: center;
}

.main-nav li {
  display: inline;
  cursor: pointer;
  margin: 0 20px 20px 20px;
}

.main-nav li:nth-child(1) {
	margin-left: 0;
	margin-right: 20px;
}

.main-nav li:nth-child(5) {
	margin-left: 20px;
	margin-right: 0;
}

@media (max-width: 100000px) {
  .menu-toggle{
    display: none;
  }
}

@media (max-width: 1024px) {
  .main-nav li:nth-child(1) {
		margin-right: 0;
	}

	.main-nav li:nth-child(5) {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 660px) {
  .menu-toggle {
    display: block;
  }

  ul.navigation-menu {
    display: none;
  }

  .main-nav li {
    display: block;
    text-align: center;
    margin: 0 auto 5% auto;
  }

  .main-nav li:nth-child(1) {
    margin-right: 0;
  }

  .main-nav li:nth-child(5) {
    margin-left: 0;
    margin-right: 0;
  }
}
    
.main-nav li a {
  font-size: 33px;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  position: relative;
  padding-bottom: 2px;
  
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: $hover-color;
    width: 0%;
    display: block;
    transition: width .2s ease-in-out;
    z-index: 1;
  }
  
  &:hover {
    color: #fff;
    &:after {
      width: 100%;
    }
  }
}

.full-menu {
  visibility: hidden;
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: $bg;
  -webkit-transform: scale(0.80);
  -ms-transform: scale(0.80);
  transform: scale(0.80);
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  text-align: center;
  z-index: 99;
}				

.full-menu-open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.full-menu-transition {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.full-menu-middle {
  display: table-cell;
  vertical-align: middle;
}

.menu-toggle {
	font-family: 'Icons';
	text-transform: uppercase;
	color: $dark-gray;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}

.menu-toggle:hover {
	color: $underline-color;
}

.menu-toggle-close:hover {
	color: #fff;
}

.menu-toggle-close {
  position: absolute;
  top: 15px;
  right: 30px;
  font-family: 'Icons';
  color: #fff;
}

.nav-search {
	margin: 0 auto;
	padding: 30px 0;
	width: 50%;
}

.nav-search input {
	text-align: center;
	border: none;
	width: 40%;
	padding: 10px 14px 11px 14px;
	color: #fff;
	font-size: 20px;
	outline: none;
	background: transparent;
	border: 2px solid rgba(255,255,255,0.4);
}

.nav-search input:focus {
	border: 2px solid rgba(255,255,255,1);
}

@media (max-width: 870px) {
  .nav-search {
    width: 100%;
  }
}