/*.scroll-line {
  height: 5px;
  background: $hover-color;
  width: 0%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
}*/

.post-wrap {
	margin: 0 auto;
	padding: 60px 0;
	max-width: 880px;
}

.post-cat a {
	margin: 30px auto;
	text-align: center;
	display: block;
}

.reading-time {
	margin: 0.65rem auto 5rem auto;
	text-align: center;
	display: block;
	color: $light-gray;
	font-size: 1.1em;
}

.post-cat a:hover {
	color: $hover-color;
}

.post-title {
	margin: 0 0 14px 0;
	padding: 0;
	width: 100%;
	font-size: 2.9em;
	text-align: center;
	font-weight: 300;
	line-height: 1.25;

	span {
		margin: 0;
		padding: 0;
	}

	a {
		display: block;
		margin: 0 0 30px 0;
		padding: 0;
	}
}

.search-title {
	margin: 0 0 10px 0;
	font-size: 50px;
	font-weight: 300;
	line-height: 1.20em;
	color: $text;
	text-align: center;

	a {
		color: $text;

		&:hover {
		color: $hover-color;
		}
	}
}

.post-img {
	margin-bottom: 30px;
	width: 100%;
	height: auto;
}

.image-credit {
	margin: 0 0 4rem 0;
	text-align: center;
	font-size: 1.25em;
	line-height: 1.45rem;
	font-family: 'Alegreya', serif;
	color: $text;

	a {
		font-family: 'Alegreya', serif !important;
	}
}

.post-content {
	padding: 0 48px;
	max-width: 784px; /* Accounts for padding */
	font-size: 19px;
	line-height: 35px;

	abbr {
		border-bottom: 1px dotted $light-gray;
		text-decoration: none;
	}

	span.EnlighterJS {
		padding: 0.65rem 1rem 0.5rem 1rem;
	}

	.wpcustomEnlighterJS li {
		padding-top: 0.35rem;
	}

	p a {
		font-size: 1.2rem;
	}

	ul {
		font-family: 'Source Serif Pro', serif;
		font-size: 1.16rem;
		line-height: 1.85rem;
		margin: 0 0 3rem 1.25rem;
		padding: 0;
		list-style-type: circle;
	}

	ol {
		font-family: 'Source Serif Pro', serif;
		font-size: 1.16rem;
		line-height: 1.85rem;
		margin: 0 0 3rem 0;
		padding: 0 0 0 1.30rem;

		li {
			margin-bottom: 2rem;
		}
	}

	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 0;
	    height: 0;
	    overflow: hidden;
	    margin-bottom: 2rem;
	}

	.video-container iframe {
	    position: absolute;
	    top:0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}

@media (max-width: 435px) {
	.post-content {
		padding: 0;
	}
}

.post-content h2 {
	font-size: 1.9rem;
	line-height: 2.4rem;
	font-weight: 300;
}

.post-content blockquote p {
	float: right;
	width: 40%;
	margin: 0.45rem 0 2.5rem 2.5rem;
	padding: 1.5rem 1.75rem 1.5rem 2.5rem;
	font-family: 'Alegreya', sans-serif;
	font-weight: lighter;
	font-style: italic;
	color: $text;
	font-size: 1.6em;
	line-height: 1.3;
	border-left: 5px solid $hover-color;
	//background: url(images/bg-blockquote@2x.gif) no-repeat top left;
	background-size: 35px 5px;
}

@media (max-width: 800px) {
	.post-content blockquote {
		margin: 0;
		padding: 0;
	}

	.post-content blockquote p {
		float: none;
		display: block;
		width: 100%;
		margin: 40px 0;
	}
}

@media (max-width: 435px) {
	.post-content blockquote {
		width: 80%;
	}
}

.share-content {
	margin: 80px 0 40px 0;
	text-align: center;
}

.share-content span {
	display: inline-block; 
	position:relative;
	margin-right: 6px;
	top: 1px;
	font-family: 'Icons';
	color: $text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}

.share-content .button:nth-child(1) {
	margin-right: 30px;
}

@media (max-width: 660px) {
	.share-content {
		margin-bottom: 60px;
		max-width: 660px;
	}

	.share-content .button {
		display: block;
		margin-bottom: 30px;
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
		line-height: 1.25;
		vertical-align: center;
	}
}

.inline-tweet a {
	padding: 6px 4px 5px 4px;
	background: $dark-gray;
	color: $text;

	&:hover {
		color: #fff;
		background: $hover-color;
	}
}

.dashicons {
	color: $link-color;

	&:hover {
		color: #fff;
	}
}