.scroll-line {
  height: 5px;
  background: $link-color;
  width: 0%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
}

.post-wrap {
	margin: 0 auto;
	padding: 60px 0;
	max-width: 880px;
}

.post-cat a {
	margin: 30px auto;
	text-align: center;
	display: block;
}

.reading-time {
	margin: 15px auto 60px auto;
	text-align: center;
	display: block;
	color: $light-gray;
	font-size: 1.1em;
}

.post-cat a:hover {
	color: $hover-color;
}

.post-title {
	margin: 0 0 14px 0;
	padding: 0;
	width: 100%;
	font-size: 2.9em;
	text-align: center;
	font-weight: 300;
	line-height: 1.25;
	color: $text;

	span {
		margin: 0;
		padding: 0;
	}

	a {
		display: block;
		margin: 0 0 30px 0;
		padding: 0;
	}
}

.search-title {
	margin: 0 0 10px 0;
	font-size: 50px;
	font-weight: 300;
	line-height: 1.20em;
	color: $text;
	text-align: center;

	a {
		color: $text;

		&:hover {
		color: $hover-color;
		}
	}
}

.post-img {
	margin-bottom: 30px;
	width: 100%;
	height: auto;
}

.image-credit {
	text-align: center;
	font-size: 1.25em;
	line-height: 1.4;
	font-family: 'Alegreya', serif;
	color: #dddbe4;
}

.post-content {
	padding: 0 48px;
	max-width: 784px; /* Accounts for padding */
	font-size: 19px;
	line-height: 35px;
}

@media (max-width: 435px) {
	.post-content {
		padding: 0;
	}
}

.post-content h2 {
	font-size: 28px;
	font-weight: 400;
	color: $text;
}

.post-content p {
	font-size: 1.1em;
	line-height: 1.75;
}

.post-content p a {
	font-size: 0.9em;
}

.post-content blockquote p {
	float: right;
	width: 40%;
	margin: 7px 0 40px 40px;
	padding: 40px 30px 25px 30px;
	font-family: 'Alegreya', sans-serif;
	font-weight: lighter;
	font-style: italic;
	color: $text;
	font-size: 1.7em;
	line-height: 1.3;
	border-left: 5px solid $hover-color;
	background: url(images/bg-blockquote@2x.gif) no-repeat top left;
	background-size: 35px 5px;
}

@media (max-width: 800px) {
	.post-content blockquote {
		margin: 0;
		padding: 0;
	}

	.post-content blockquote p {
		float: none;
		display: block;
		width: 100%;
		margin: 40px 0;
	}
}

@media (max-width: 435px) {
	.post-content blockquote {
		width: 80%;
	}
}

.share-content {
	margin: 80px 0 40px 0;
	text-align: center;
}

.share-content span {
	display: inline-block; 
	position:relative;
	margin-right: 6px;
	top: 1px;
	font-family: 'Icons';
	color: $text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}

.share-content .button:nth-child(1) {
	margin-right: 30px;
}

@media (max-width: 660px) {
	.share-content {
		margin-bottom: 60px;
		max-width: 660px;
	}

	.share-content .button {
		display: block;
		margin-bottom: 30px;
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
		line-height: 1.25;
		vertical-align: center;
	}
}

.inline-tweet a {
	padding: 6px 4px 5px 4px;
	background: $dark-gray;
	color: $text;

	&:hover {
		color: #fff;
		background: $hover-color;
	}
}

.dashicons {
	color: $link-color;

	&:hover {
		color: #fff;
	}
}