// Clearfix

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

//	Typography

h1.greeting {
  font-size: 3rem;
  font-weight: 300;
  width: 66%;
  margin: 40px auto 100px auto;
  line-height: 1.38;

  span {
    display: block;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 0.45em;
    letter-spacing: 0.065em;
    margin-bottom: 20px;
  }
}

.greeting strong {
  font-family: 'Rubik', sans-serif;
}

.section-title {
  margin: 0 0 30px 0;
  padding: 0 0 20px 0;
  background: url(images/section-divide-dark-bg.png) bottom left no-repeat;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 0.85em;
  letter-spacing: 0.065em;
}

.secondary {
  margin: 0 0 30px 0;
  font-size: 27px;
  text-align: center;
}

.greeting-centered {
  font-size: 33px;
  font-weight: lighter;
  width: 66%;
  margin: 60px auto 30px auto;
  line-height: 1.35;
  text-align: center;

  span {
    color: $link-color;
  }
}

p {
  margin: 0 0 20px 0;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 2.5rem;
}

p a, .greeting a,.blog-greeting a,.greeting-centered a, .footer ul a, ul.navigation-menu a {
  color: $link-color;
  font-family: 'Rubik', sans-serif;
  position: relative;
  padding-bottom: 0px;
  display: inline-block;
  
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: $underline-color;
    width: 0%;
    display: inline-block;
    transition: width .1s ease-in-out;
    z-index: 1;
  }
  
  &:hover {
    color: $hover-color;
    transition: 0.15s ease;
    &:after {
      width: 100%;
    }
  }
}

em {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

b.highlight {
  text-transform: uppercase;
}

hr {
  border: solid $dark-gray;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

// Links

a {
  color: $link-color;
  text-decoration: none;
  outline: 0;
}

a:hover, a:focus {
  color: $underline-color;
}

// Selection colors (easy to forget)

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

// Basic Styles

body {
  margin: 0;
  background: $bg;
  font-size: 1em;
  font-family: 'Rubik' sans-serif;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: $hover-color;
}

#wrap {
  margin: 0 auto;
  padding: 60px;
  max-width: 1200px;
}

@media (max-width: 435px) {
  #wrap {
    padding: 30px;
  } 
}

.button {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $text;
  margin-bottom: 2rem;
  padding: 12px 20px 12px 20px;
  border: 2px solid $link-color;
  box-shadow: 0px 0px 0px $link-color inset;
  transition: 0.15s ease;
}

.button:hover {
  color: $text;
  border: 2px solid $hover-color;
  box-shadow: 0px 0px 0px $link-color inset;
  background: none;
  transition: 0;
}

// Video

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  background: #fff;
  width: 100%;
  height: auto;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Newsletter

.newsletter {
  margin: 0;
  margin-top: 3.75rem;
  padding: 2rem 2.5rem 3rem 2.5rem;
  background-color: $link-color;
  background-repeat: repeat;
  background-attachment: fixed;
  background-image: url(images/bg-newsletter@2x.jpg);
  background-size: 784px 347px;
  background-size: 60% auto;
}

.blog .newsletter {
  margin-top: 20px;
}

.newsletter h2 {
  margin: 0 0 20px 0;
  padding: 0;
  color: #fff;
  font-size: 2rem;
  line-height: 2.6rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: $text;
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.6);  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(255,255,255,0.6);  
}

:-ms-input-placeholder {  
  color: rgba(255,255,255,0.6);  
}

.newsletter-content {
  width: 60%;
}

#mc_embed_signup_scroll {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
}

#mc_embed_signup_scroll .required {
  margin: 0 20px 0 0;
  padding: 14px 30px 13px 12px;
  border: none;
  color: $text;
  background: #fff;
  font-family: "Rubik", sans-serif;
  outline: none;
  font-size: 17px;
  flex-grow: 2;
}

#mc_embed_signup_scroll .required:focus {
  color: $text;
}

#mc-embedded-subscribe {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $hover-color;
  margin: 0;
  background-color: #fff;
  padding: 15px 20px 15px 20px;
  outline: none;
  flex-grow: 1;
  border: none;
  border: 0;
  transition: border-color 0.15s ease;
}

#mc-embedded-subscribe:hover {
  cursor: hand;
  color: #fff;
  background: $hover-color;
  outline: none;
}

// Newsletter responsive styles

@media (max-width: 790px) {
  .newsletter-content {
    width: 100%;
  }
}

@media (max-width: 555px) {
  .newsletter {
    padding: 2.5rem 2.5rem 3rem 2.5rem;
  }
  .newsletter-content {
    .mc-field-group input {
      width: 87.5%;
      display: block;
      margin-bottom: 1.5rem !important;
    }
  }
}

// Scrollbar

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: $bg;
}

::-webkit-scrollbar-thumb {
  background-color: $dark-gray;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $dark-gray;
}

::-webkit-scrollbar-thumb {
  background-color: $dark-gray;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $dark-gray;
}