/* Layout */
$bg: #2E2E2E;
$text: #C5C5C5;

/* Palette */
$white: #FFF;
$dark-gray: #585858;
$link-color: #FD990E; /* Orange */
$hover-color: #A78EB8; /* Light Purple */
$underline-color: #A78EB8; /* More Light Purple */