/* Layout */
$bg: #2E2E2E;
$text: #D5D5D5;

/* Palette */
$white: #FFF;
$dark-gray: #585858;
$link-color: #FD990E; /* Orange */
$hover-color: #FACD63; /* Yellow */
$underline-color: #A78EB8; /* Light Purple */