/* Layout */
$bg: #FFF;
$text: #4B4E69;

/* Palette */
$white: #FFF;
$light-gray: #A8AAC3;
$dark-gray: #F1F0F4;
$link-color: #F96577; /* Pink */
$hover-color: #46E1E2; /* Cyan */
$underline-color: #46E1E2; /* Yellow */